.arrowBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: 1px solid;
    outline: none;
    background-color: rgba(187, 154, 78, 0.8);

    transition: all 0.2s ease-in-out;

    cursor: pointer;
    
    color: white;
    
    .btnText {
        font-weight: 600;
        font-size: 0.9rem;
        color: white !important;
    }

    svg {
        width: 1.1rem;
        height: 1.1rem;
    }

    &:hover {
        background-color: #BB9B4E;
        color: white;

        .btnText {
            color: inherit;
        }
    }

    &:active {
        transform: scale(0.9);
    }
}