.arrowBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: 1px solid;
    border-color: #516681;
    outline: none;
    background-color: white;

    transition: all 0.2s ease-in-out;

    cursor: pointer;
    
    color: #516681;
    
    .btnText {
        font-weight: 600;
        font-size: 0.9rem;
        color: inherit;
    }

    svg {
        width: 1.1rem;
        height: 1.1rem;
    }

    &:hover {
        background-color: #516681;
        color: white;

        .btnText {
            color: inherit;
        }
    }

    &:active {
        transform: scale(0.9);
    }
}