.subtitleCrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #E8F1FA;
    padding: 0.3rem 0.6rem;
    border-radius: 2rem;

    .icon {
        width: 1.5rem;
        height: 1.5rem;
        background-color: #516681;
        border-radius: 50%;
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .crumbText {
        font-size: 0.8rem;
        font-weight: 600;
        color: #516681;
    }
}